<div class="banner text-center" style="background-image: url('https://unsplash.it/1000/500?image=0')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Great cocktails</h1>
    <p>Ready to have some fun? </p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>
